@model TheGym.Models.GetClaims

@{
    ViewData["Title"] = "Dashboard";
}
<div class="dashboard">
<div class="sidebar">
    <div class="logo"></div>

    <ul class="menu">
        <li class="active">
            <a href="#" >
                <i class="bi bi-speedometer2"></i>
                <span>Dashboard</span>
            </a>
        </li>
    

        <li>
            <a href="#">
                    <i class="bi bi-person-circle"></i>
                <span>Profile</span>
            </a>
        </li>
    

        <li>
            <a href="#">
                    <i class="bi bi-bar-chart-line-fill"></i>
                <span>Statistics</span>
            </a>
        </li>

        <li>
            <a href="#">
                    <i class="bi bi-briefcase-fill"></i>
                <span>Career</span>
            </a>
        </li>

        <li>
            <a href="#">
                    <i class="bi bi-question-circle"></i>
                <span>FAQ</span>
            </a>
        </li>

        <li>
            <a href="#">
                    <i class="bi bi-stars"></i>
                <span>Testimonials</span>
            </a>
        </li>

        <li>
            <a href="#">
                    <i class="bi bi-gear"></i>
                <span>Settings</span>
            </a>
        </li>
    
        <li class="logout">
            <a asp-controller="Account" asp-action="Logout">
                <i class="bi bi-box-arrow-left"></i>
                <span>Logout</span>
            </a>
        </li>

    </ul>
</div> 

    <!--Main Content-->
    <div class="dash-main-content">
        <div class="header-wrapper">
            <div class="header-title">
               <span>Primary</span>  
               <h2>Dashboard</h2>
            </div>

            <!--Profile -->
            <div class="user-info">
                <div class="search-box">
                    <i class="fa-solid fa-search"></i>
                    <input type="text" placeholder="Search" />
                </div>
                <img src="~/images/man-avatar.png"/>
            </div>
        </div>

        <!-- 'User data'-->
        <div class="card-container">
            <h3 class="main-title">Data</h3>
            <div class="card-wrapper">

                <div class="account light-red">
                    <div class="account-header">
                        <div class="amount">
                            <span class="title">Claimed amount</span>
                            <span class="amount-value">$400</span>
                        </div>
                        <i class="fas fa-dollar icon dark-red"></i>
                    </div>
                    <span class="account-detail">***** ***** ***** 3486</span>
                </div>

                <div class="account light-purple">
                    <div class="account-header">
                        <div class="amount">
                            <span class="title">Claim order</span>
                            <span class="amount-value">$0</span>
                        </div>
                        <i class="fas fa-dollar icon dark-purple"></i>
                    </div>
                    <span class="account-detail">***** ***** ***** 6698</span>
                </div>

                <div class="account light-green">
                    <div class="account-header">
                        <div class="amount">
                            <span class="title">Claim proceed</span>
                            <span class="amount-value">$400</span>
                        </div>
                        <i class="fas fa-dollar icon dark-green"></i>
                    </div>
                    <span class="account-detail">***** ***** ***** 7557</span>
                </div>

            </div>
        </div>
        

        <!--Tebular-->
        <div class="tabular-wrapper" >
            <div class="d-flex justify-content-between align-items-center">
                <h3 classs="main-title">Your Claims</h3>
                <a class="btn btn-success mb-2" asp-controller="Claim" asp-action="CreateClaim">Create Claim</a>
            </div>
           
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Claim ID</th>
                            <th>Type Of Claim</th>
                            <th>Description</th>
                            <th>Hours worked</th>
                            <th>Hourly rate</th>
                            <th>Amount</th>
                            <th>Date Filed</th>
                            <th>Asigned To</th>
                            <th>Status</th>
                            <th>Resolution Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead> 
                    <tbody>

                        @if(Model?.Claims != null)  
                        {
                            @foreach(var claim in Model.Claims)
                            {
                                <tr>
                                    <td>@claim.ClaimId</td>
                                    <td>@claim.TypeOfClaim</td>
                                    <td>@claim.ClaimDescription</td>
                                    <td>@claim.HoursWorked hr</td>
                                    <td>R @claim.HourlyRate</td>
                                    <td>R @claim.TotalWorkClaim</td>
                                    <td>@claim.DateFiled</td>
                                    <td>@claim.AssignedTo</td>
                                    <td>@claim.Status</td>
                                    <td>@claim.DateResolved</td>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <a class="btn btn-secondary btn-sm mb-2" asp-controller="Claim" asp-action="EditClaim" asp-route-id="@claim.ClaimId">Edit</a>
                                            <a class="btn btn-primary btn-sm" asp-controller="Claim" asp-action="Delete" asp-route-id="@claim.ClaimId">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="11">No claims found.</td></tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="11">Total: 400</td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>

</div>